:host {
  display: block;
  background: #fff;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  mat-drawer-container {
    height: 100%;
  }
  mat-drawer {
    width: 320px;
    .tree {
      ul, li {
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: none;
      }
      .mat-tree-node {
        .mat-button {
          text-align: left;
        }
        &.active {
          background: #4283f2;
          color: #fff;
        }
      }
      ul {
        &.invisible {
          display: none;
        }
      }
    }
    .file-upload {
      border-top: 1px solid rgba(0, 0, 0, .1);
      background: #f2f2f2;
      padding: 16px;
      b {
        line-height: 40px;
        font-size: 12px;
      }
    }
  }
  .inner {
    box-sizing: border-box;
    padding: 16px;
    border-radius: 4px;
    .body {
      width: 100%;
      white-space: nowrap;
      >div {
        width: 50%;
        height: 800px;
        vertical-align: top;
        b {
          display: block;
          line-height: 40px;
          height: 40px;
          font-size: 12px;
        }
        textarea {
          border: 1px solid rgba(0, 0, 0, .1);
          border-radius: 8px;
          &:focus {
            padding: 15px;
            outline: none;
            border: 2px solid rgba(0, 0, 0, .8);
          }
        }
        markdown, textarea {
          display: block;
          line-height: 1.5;
          font-size: 14px;
          padding: 16px;
          color: rgba(0, 0, 0, 0.9);
          /deep/ img {
              max-width: 100%;
          }
          /deep/ h4 {
              border-bottom: 0.5px solid rgba(0,0,0,.2);
              margin: 0;
              padding-bottom: 4px;
              font-size: 16px;
          }
        }
      }
    }
  }
  .save-btn {
    position: absolute;
    right: 48px;
    bottom: 48px;
  }
}
