:host {
  display: block;
  background: #fff;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: 800px;
  mat-drawer-container {
    height: 100%;
    mat-drawer {
      width: 420px;
      .tree {
        overflow: auto;
        padding: 8px;
        ul, li {
          margin-top: 0;
          margin-bottom: 0;
          list-style-type: none;
        }
        .mat-tree-node {
          min-height: auto;
          &:hover {
            >.add-sub-topic-btn {
              opacity: 1;
            }
            .mat-button.title {
              color: #424242;
            }
          }
          &.active {
            .mat-button.title {
              color: #424242;
              font-weight: bold;
            }
          }
          >.add-sub-topic-btn {
            opacity: 0;
          }
          .mat-button.title {
            text-align: left;
            padding: 0 8px;
            min-width: 0;
            color: rgba(0, 0, 0, .6);
          }
        }
        ul {
          padding-left: 24px;
          &.invisible {
            display: none;
          }
        }
      }
      .new-topic-btn {
        border-radius: 24px;
        margin-bottom: 16px;
        // background: #ffdbcf;
      }
    }
    mat-drawer-content {
      .select-topic {
        color: #424242;
        font-size: 14px;
        text-align: center;
        line-height: 22px;
      }
    }
  }
  .inner {
    box-sizing: border-box;
    padding: 16px;
    border-radius: 4px;
    h1 {
      font-size: 32px;
      margin-bottom: 8px;
      color: #424242;
    }
    mat-form-field {
      width: 380px;
    }
    .body {
      width: 100%;
      white-space: nowrap;
      >div {
        width: 50%;
        height: 800px;
        vertical-align: top;
        // b {
        //   display: block;
        //   line-height: 40px;
        //   height: 40px;
        //   font-size: 12px;
        // }
        textarea {
          border: 1px solid rgba(0, 0, 0, .1);
          border-radius: 8px;
          &:focus {
            padding: 15px;
            outline: none;
            border: 2px solid #424242;
          }
        }
        markdown {
          white-space: normal;
          padding-left: 16px;
          overflow: auto;
          /deep/ img {
            max-width: 100%;
          }
          /deep/ h4 {
              border-bottom: 0.5px solid rgba(0,0,0,.2);
              margin: 0;
              padding-bottom: 4px;
              font-size: 16px;
          }
        }
        markdown, textarea {
          display: block;
          line-height: 1.5;
          font-size: 14px;
          padding: 16px;
          color: #424242;
        }
      }
    }
  }
  .extended-fab-switch {
    position: absolute;
    left: 50%;
    margin-left: -110px;
    bottom: 48px;
    width: 120px;
    border-radius: 24px;
    padding: 0 12px;
    overflow: hidden;
    background: #fff;
    .mat-button {
      color: #424242;
      line-height: 42px;
      height: 48px;
      background: #fff;
      border-radius: 0;
      &.save-btn {
        color: #4283f2;
        width: 120px;
      }
      &.edit-btn, &.view-btn {
        width: 60px;
        min-width: 0;
        padding: 0;
        &:hover {
          background: #F5F5F5;
        }
        &.active {
          background: #ffdbcf;
        }
      }
    }
  }
}
