<mat-drawer-container>
  <mat-drawer mode="side" opened="true" fxLayout="column" class="mat-elevation-z4">
    <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="tree">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <li class="mat-tree-node" [class.active]="node.id === (topic | async)?.id">
          <button mat-icon-button disabled></button>
          <button mat-button (click)="selectTopic(node.id)" fxFlex>
          {{node.title}}
          </button>
          <button mat-icon-button title="Add Sub Topic" (click)="createTopic(node)">
            <mat-icon>add</mat-icon>
          </button>
        </li>
      </mat-tree-node>
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
        <li>
          <div class="mat-tree-node" [class.active]="node.id === (topic | async)?.id" fxLayout="row">
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.title">
              <mat-icon class="mat-icon-rtl-mirror">
                {{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <button mat-button (click)="selectTopic(node.id)" fxFlex>
              {{node.title}}
            </button>
            <button mat-icon-button title="Add Sub Topic" (click)="createTopic(node)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <ul [class.invisible]="!nestedTreeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
          </ul>
        </li>
      </mat-nested-tree-node>
    </mat-tree>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-button (click)="createTopic()" *ngIf="(topicId | async) !== -1">
        <mat-icon>add</mat-icon>
        new topic
      </button>
    </div>
    <span fxFlex></span>
    <div class="file-upload">
      <b>Upload images</b>
      <input type="file" (change)="uploadFile($event)" placeholder="Upload file" accept=".png,.gif,.jpg" multiple>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <span *ngIf="!(topic | async)">Please select a topic.</span>
    <div class="inner" *ngIf="topic | async">
      <form [formGroup]="group">
        <div fxLayout="row">
          <mat-form-field>
            <input matInput placeholder="Path" formControlName="path">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Title" formControlName="title">
          </mat-form-field>
          <span fxFlex></span>
          <button mat-button (click)="deleteTopic()" *ngIf="(topicId | async) !== -1">
            <mat-icon>delete</mat-icon>
            delete this topic
          </button>
        </div>
        <div class="body" fxLayout="row">
          <div fxLayout="column">
            <b>Content (Markdown Syntax)</b>
            <textarea fxFlex formControlName="body" cols="30" rows="10"></textarea>
          </div>
          <div fxLayout="column">
            <b>Preview</b>
            <markdown fxFlex [data]="group.controls.body.value"></markdown>
          </div>
        </div>
      </form>
    </div>
    <button class="save-btn" *ngIf="topic && group.dirty" (click)="saveTopic()" mat-fab>
      <mat-icon>save</mat-icon>
    </button>
  </mat-drawer-content>
</mat-drawer-container>
